header {
    background-color: aqua;
}

body {
    background-color: floralwhite;
}

  .estudante-div {
     text-align: center;
     padding: 30px 0;
  }

   .estudante-titulo {
      text-align: center;
      padding: 16px 0;
   }

   .estudante-imagem {
    width: 20%;

   }

footer {
    background-color: azure;
}